body {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;

    margin: 0;
    font-family: var(--sl-font-sans);
    color: var(--sl-color-gray-900);
    -webkit-tap-highlight-color: transparent;
}